@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DWAYNE'S GRANT WORLD!</h1>
    <p class="lead">Party time! Excellent!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Grants:</h2>
        <p>
            Welcome to Grant World. Here, you can both view and apply for grants. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donations:</h2>
        <p>If you're feeling generous, you can also make a donation.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Grants and Donations:</h2>
        <p> Feel free to peruse the donations that other people made, as well.
            Thank you for visiting Grant World!!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>